@import "layout/header";
@import "layout/footer";
@import "views/blog";
@import "views/contact";
@import "views/faqs";
@import "views/myStory"; 
@import "views/shop";
@import "views/account";
@import "views/cart";
@import "views/info";
@import "views/products";

$primary-color:#7b7a7a;
$red-color:#D68B76;
$green-color:#89B1AB;
$yellow-color:#F5D767;

$font-sizes:(1:4.8rem,2:4rem,3:3.6rem,4:2.5rem,5:1.8rem,6:1.6rem);
  
@mixin flexColumnCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@mixin flexRowCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin formInput{
    border: none;
    width: 26vw;
    height: 4vw;
    margin-right: 2vw;
    padding: 1vw;
}
@mixin formInputPlaceholder{
    color: white;
    font-size: map-get($font-sizes,5);
}
@mixin mainImage{
    position: relative;
    display: inline-block;
}
@mixin mainImageText{
    position: absolute;
    bottom: 1.5vw;
    right: 1.5vw;
    color: $primary-color;
    font-size: map-get($font-sizes,3);
}
@mixin text {
    color: white;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    text-align: center;
    width: 80vw; 
}
@mixin mainImagesText850{
    font-size: map-get($font-sizes,4);
    bottom: 0.01vw;
}
@mixin formInput600{
    width: 60vw;
    height: 10vw;
    font-size: map-get($font-sizes,4);
    margin-top: 3vw;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0pt;
    font-family:'Fredoka', sans-serif;
    letter-spacing: 1px;
}
html{
    font-size: 62.5%;
}

.mainPage{
    background-color: $primary-color;
    @include flexColumnCenter;
    .mainVideo video{
        width: 100vw;
        position: relative;
        z-index: 1;
    }
    .about{
        @include flexColumnCenter;
        .aboutTitle{
            font-size: map-get($font-sizes,1);
            @include text; 
        }
        .aboutText {
            @include flexColumnCenter;
            @include text;
            font-size: map-get($font-sizes,4);
            p{
                padding-top: 2.2vw;
            }   
        }
    }
    .mainImages{
        width: 85vw;
        display: grid;
        grid-template-columns: 4fr 2fr 4fr;
        grid-template-rows: 5fr 4fr 2fr 4fr 3.5fr 4fr 2.5fr;
        grid-template-areas: 
            "family family family"
            "animals animals elephant"
            "colage colage elephant"
            "colage colage dolls"
            "comforter kid kid"
            "miniDolls kid kid"
            "babyAnimals babyAnimals babyAnimals"
        ;
        gap: 1vw;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .hellodollFamily{
            grid-area: family;
            @include mainImage;
            .hellodollFamilyText{
                @include mainImageText;
            }
        }
        .animals{
            grid-area: animals;
            @include mainImage;
            .animalsText{
                @include mainImageText;
            }
        }
        .elephant{
            grid-area: elephant;
        }
        .animalsColage{
            grid-area: colage;
        }
        .dolls{
            grid-area: dolls;
            @include mainImage;
            .dollsText{
                @include mainImageText;
            }
        }
        .babyComforter{
            grid-area: comforter;
            @include mainImage;
            .babyComforterText{
                @include mainImageText;
            }
        }
        .miniDolls{
            grid-area: miniDolls;
            @include mainImage;
            .miniDollsText{
                @include mainImageText; 
            }
        }
        .kid{
            grid-area: kid;
        }
        .babyAnimals{
            grid-area:babyAnimals;
            @include mainImage;
            .babyAnimalsText{
                position: absolute;
                top: 1.5vw;
                right: 1.5vw;
                color: white;
                font-size: map-get($font-sizes,3);
            }
        }
        .babyAnimalsMobile{
            display: none;
        }
    }
    .mailingList{
        width: 100vw;
        height: auto;
        background-color: white;
        @include flexRowCenter;
        margin-top: 4vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
        .mailingListContent{
            width: 68vw;
            margin-left: 4vw;
            margin-right: 4vw;
            h3{
                color: $primary-color;
                font-size: map-get($font-sizes,2);
                text-align: center;
            }
            p{
                color: $primary-color;
                font-size: map-get($font-sizes,4);
                text-align: center;
                margin-top: 2vw;
            }
            .form{
                @include flexRowCenter;
                padding: 1.5vw;
                color: white;
                margin-top: 2vw;
                .nameForm{
                    @include flexColumnCenter;
                    input{
                        background-color:$red-color;
                       @include formInput;
                        &::placeholder{
                            @include formInputPlaceholder;
                        }
                    }
                }
                .emailForm {
                    @include flexColumnCenter;
                    input{
                        background-color:$yellow-color;
                        @include formInput;
                        &::placeholder{
                            @include formInputPlaceholder;
                        }
                    }
                }
                .submitButton{
                    input {
                        background-color: $green-color;
                        border: none;
                        width: 6vw;
                        height: 6vw;
                        border-radius: 50%;
                        display: block;
                        @include formInputPlaceholder;
                    }
                }
            }
        }
        .mailingListVideo{
            display: flex;
            width: 25vw;
            height: 25vw;
            margin-right: 4vw;
            align-items: center;
            video{
                width: 100%;
             }
        }
    }
}
@media only screen and (max-width:850px){
    .mainPage{
        .mainImages{
            .hellodollFamily{
                .hellodollFamilyText{
                    @include mainImagesText850;
                }
            }
            .animals{
                .animalsText{
                    @include mainImagesText850;
                }
            }
            .dolls{
                .dollsText{
                    @include mainImagesText850;
                }
            }
            .babyComforter{
                .babyComforterText{
                    @include mainImagesText850;
                }
            }
            .miniDolls{
                .miniDollsText{
                    @include mainImagesText850;
                }
            }
            .babyAnimals{
                .babyAnimalsText{
                    @include mainImagesText850;
                }
            }
        }
        .mailingList{
            .mailingListContent{
                h3{
                    font-size: map-get($font-sizes,4);
                }
                p{
                    font-size: map-get($font-sizes,5);
                }
                .form{
                    .nameForm{
                        input{
                            &::placeholder{
                                font-size: map-get($font-sizes,6);
                            }
                        }
                    }
                    .emailForm{
                        input{
                            &::placeholder{
                                font-size: map-get($font-sizes,6);
                            }
                        }
                    }
                    .submitButton{
                        input{
                            font-size: map-get($font-sizes,6);
                        }
                    }
                }
            }
        }
    } 
}
@media only screen and (max-width:600px){
    .mainPage{
        .about{
            .aboutTitle{
                font-size: map-get($font-sizes,2);
            } 
            .aboutText {
                font-size: map-get($font-sizes,4); 
            }
        } 
        .mainImages{
            .hellodollFamily{
                .hellodollFamilyText{
                    font-size: map-get($font-sizes,6);
                }
            }
            .animals{
                .animalsText{
                    font-size: map-get($font-sizes,6);
                }
            }
            .dolls{
                .dollsText{
                    font-size: map-get($font-sizes,6);
                }
            }
            .babyComforter{
                .babyComforterText{
                    font-size: map-get($font-sizes,6);
                }
            }
            .miniDolls{
                .miniDollsText{
                    font-size: map-get($font-sizes,6);
                }
            }
            .babyAnimals{
                .babyAnimalsText{
                    font-size: map-get($font-sizes,6);
                }
            }
        }
        .mailingList{
            @include flexColumnCenter;
            width: 100vw;
            margin-top: 4vw;
            .mailingListContent{
                width: 80vw;
                margin-left: 0;
                margin-right: 0;
                h3{
                    font-size: map-get($font-sizes,3);
                }
                p{
                    font-size: map-get($font-sizes,5);
                    margin-top: 2vw;
                }
                .form{
                    @include flexColumnCenter;
                    padding: 0;
                    margin-top: 2vw;
                    .nameForm{
                        input{
                            @include formInput600;
                            &::placeholder{
                                font-size: map-get($font-sizes,5);
                            }
                        }
                    }
                    .emailForm{
                        input{
                            @include formInput600;
                            &::placeholder{
                                font-size: map-get($font-sizes,5);
                            }
                        }
                    }
                    .submitButton{
                        input {
                            width: 15vw;
                            height: 15vw;
                            font-size: map-get($font-sizes,4);
                            margin-top: 3vw;
                        }
                    }
                }
            }
            .mailingListVideo {
                width: 85vw;
                height: 85vw;
                margin-top: 4vw;
                margin-bottom: 7.5vw;
                margin-right: 0;
                margin-left: 0;
                video{
                    width: 100%;
                    margin-left: 0;
                    margin-right: 0;
                }  
            }
        }
    }   
}
@media only screen and (max-width:450px){
    .mainPage{
        .about{
            .aboutTitle{
                font-size: map-get($font-sizes,5);
                margin-top: 10px;
                margin-bottom: 5px;
                width: 300px; 
            }
            .aboutText {
                font-size: map-get($font-sizes,6);
                margin-top: 5px;
                margin-bottom: 10px;
                width: 80vw;
                .aboutText p{
                    padding-top: 15px;
                }   
            }
        }
        .mainImages{
            width: 85vw;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6,auto);
            grid-template-areas:
            "familyMobile"
            "animalsMobile"
            "dollsMobile"
            "miniDollsMobile"
            "babyComforterMobile"
            "babyAnimalsMobile";
            gap: 1vw;
            img{
                width: 100%;
            }
            .hellodollFamily{
                grid-area: familyMobile;
                .hellodollFamilyText{
                    font-size: map-get($font-sizes,6);   
                }    
            }
            .animals{
                grid-area: animalsMobile;
                .animalsText{
                    font-size: map-get($font-sizes,6);
                }
            }
            .dolls{
                grid-area: dollsMobile;
                .dollsText{
                    font-size: map-get($font-sizes,6);
                }
            }
            .babyComforter{
                grid-area: babyComforterMobile;
                .babyComforterText{
                    font-size: map-get($font-sizes,6);
                }
            }
            .miniDolls{
                grid-area: miniDollsMobile;
                .miniDollsText{
                    font-size: map-get($font-sizes,6);
                }
            }
            .babyAnimalsMobile{
                grid-area: babyAnimalsMobile;
                .babyAnimalsMobileText{
                    font-size: map-get($font-sizes,6);
                }
            }
            .elephant{
                display: none;
            }
            .animalsColage{
                display: none;
            }
            .kid{
                display: none;
            }
            .babyAnimals{
                display: none;
            }
        }
        .mailingList{
            .mailingListContent{
                h3{
                    font-size: map-get($font-sizes,4);
                }
                p{
                    font-size: map-get($font-sizes,5);
                }
                .form{
                    .nameForm{
                        input{
                            &::placeholder{
                                font-size: map-get($font-sizes,5);
                            }
                        }
                    }
                    .emailForm{
                        input{
                            &::placeholder{
                                font-size: map-get($font-sizes,5);
                            }
                        }
                    }
                    .submitButton{
                        input {
                            width: 20vw;
                            height: 20vw;
                        }
                    }
                }
            }
        }
    }
}