$primary-color:#b0b0af;
$red-color:#D68B76;
$green-color:#89B1AB;
$yellow-color:#F5D767;
@mixin formLabel{
    color: $primary-color;
    font-size: 1.6rem;
    margin-bottom: 0.5vw;
}
@mixin formInput{
    border: none;
    width: 38vw;
    height: 3vw;
    display: block;
    margin-bottom: 1vw;
    margin-right: 1vw;
}
@mixin submit{
    display: flex;
    justify-content: flex-end;
}
@mixin submitInput{
    background-color: $green-color;
    border: none;
    width: 10vw;
    height: 4vw;
    display: block;
    color: white;
    font-size: 2.4rem;
}
@mixin account{
    background-color: white;
    width: 40vw;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1vw;
}
@mixin h3{
    color: $primary-color;
    font-size: 3.6rem;
    text-align: left;
    margin-bottom: 1vw;
}
@mixin account1000{
    width: 80vw;
    padding: 0;
    margin-bottom: 3vw;
}
@mixin h21000{
    font-size: 3rem;
    margin-bottom: 3vw;
    margin-top: 3vw;
    padding-left: 10vw;
}
@mixin formLabel1000{
    align-self: flex-start;
    padding-left: 10vw;
}
@mixin formInput1000{
    width: 60vw;
    height: 6vw;
    margin-right: 0;
}
@mixin submit1000{
    width: 20vw;
    height: 7.5vw;
    font-size: 2rem;
    margin-right: 10vw;
    margin-bottom: 3vw;
}
@mixin submit450{
    width: 30vw;
    height: 9vw;
    font-size: 2rem;
}

.mainAccount{
    background-color: $primary-color;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
   "login register";
    column-gap: 3vw;
    justify-items: center;
    padding-right: 7.5vw;
    padding-left: 7.5vw;
    padding-bottom: 3vw;
    .loginAccount{
        grid-area: login;
        @include account;
        h3{
            @include h3;
        }
        .usernameForm{
            label{
                @include formLabel;
            }
            input {
                background-color:$red-color;
                @include formInput;
            }
        }
        .passwordForm{
            label{
                @include formLabel;
            }
            input{
                background-color:$yellow-color;
                @include formInput;
            }
        }
        .checkbox{
            margin-bottom: 1vw;
            font-size: 1.6rem;
            color: $primary-color;
            display: flex;
            justify-content: space-between;
            a{
                color: $primary-color;
                text-decoration: none;
                text-align:end;
            }
        }
        .login{
            @include submit;
            input{
                @include submitInput();
            }
        }
    }
    .registerAccount{
        grid-area: register;
        @include account;
        h3{
            @include h3;
        }
        .emailAdressForm{
            label{
                @include formLabel;
            }
            input{
                background-color:$red-color;
                @include formInput;
            }
        }
        .passwordForm{
            label{
                @include formLabel;
            }
            input{
                background-color:$yellow-color;
                @include formInput;
            }
        }
        .register{
            @include submit;
            input{
                @include submitInput();
            }
        } 
    }
}
@media only screen and (max-width:1000px){
    .mainAccount{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
       "login" 
       "register";
        .loginAccount{
            @include account1000;
            h2{
                @include h21000;
            }
            .usernameForm{
                margin-bottom: 2vw;
                label{
                    @include formLabel1000;
                }
                input {
                    @include formInput1000;
                }
            }
            .passwordForm{
                margin-bottom: 2vw;
                label{
                    @include formLabel1000;
                }
                input {
                   @include formInput1000;
                }
            }
            .checkbox{
                margin-bottom: 3vw;
                font-size: 1.6rem;
                padding-left: 10vw;
                padding-right: 10vw;
            }
            .login{
                input{
                    @include submit1000;
                }
            } 
        }
        .registerAccount{
            @include account1000;
            h2{
                @include h21000;
            }
            .emailAdressForm{
                margin-bottom: 2vw;
                label{
                    @include formLabel1000;
                }
                input{
                    @include formInput1000;
                }
            }
            .passwordForm{
                margin-bottom: 2vw;
                label{
                    @include formLabel1000;
                }
                input{
                    @include formInput1000;
                }
            }
            .register{
                input{
                    @include submit1000;
                }
            } 
        }
    }
}
@media only screen and (max-width:450px){
    .mainAccount{
        .loginAccount{
            .usernameForm{
                input {
                    height: 7.5vw;
                }
            }
            .passwordForm{
                input {
                    height: 7.5vw;
                }
            }
            .login{
                input{
                    @include submit450;
                }
            } 
        }
        .registerAccount{
            .emailAdressForm{
                input{
                    height: 7.5vw;
                }
            }
            .passwordForm{
                input{
                    height: 7.5vw;
                }
            }
            .register{
                input{
                    @include submit450;
                }
            } 
        }
    }
}