$primary-color:#b0b0af;
$red-color:#D68B76;
$green-color:#89B1AB;
$yellow-color:#F5D767;
@mixin flexColumnCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainCart{
    background-color: $primary-color;
    .cartHeader{
        width: 100vw;
        height: auto;
        background-color: white;
        @include flexColumnCenter;
        h3{
            color: $primary-color;
            font-size: 4.8rem;
        } 
    }
    .mainCartInfo{
        @include flexColumnCenter;
        padding-left: 7.5vw;
        padding-right: 7.5vw;
        p{
            color: white;
            font-size: 1.6rem;
            margin-top: 2vw;
            text-align: justify;
            a{
                color: white;
            }
        }
    }
}
@media only screen and (max-width:1230px){
    .mainCart{
        .cartHeader{
            padding-top: 1vw;
            padding-bottom: 1vw;
            h3{
                font-size: 4rem;
            }  
        }
    }
}