$primary-color:#b0b0af;
$red-color:#D68B76;
$green-color:#89B1AB;
$yellow-color:#F5D767;

@mixin flexColumnCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@mixin padding{
    padding-right: 7.5vw; 
    padding-left: 7.5vw;
}

.mainFaqsContent{
    background-color: $primary-color; 
    @include flexColumnCenter;
    @include padding;
    h2{
        color: white;
        font-size: 5rem;
        margin-bottom: 3vw;
    }
    .mainFaq{
        margin-bottom: 5vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        .mainFaqImage{
            width: 40vw;
            img{
                width: 100%;
            }
        }
        .mainFaqText{
            padding: 2vw;
            width: 40vw;
            @include flexColumnCenter;
            h3{
                font-size: 2.4rem;
                color: $yellow-color;
                margin-bottom: 2vw;
            }
            p{
                font-size: 2.1rem;
                color: white;
            }
        }
    }
}
@media only screen and (max-width:1230px){
    .mainFaqsContent{
        .mainFaq{
            .mainFaqText{
                h3{
                    font-size: 2rem;
                }
                p{
                    font-size: 1.6rem;
                } 
            }
        }
    }
}
@media only screen and (max-width:850px){
    .mainFaqsContent{
        .mainFaq{
            margin-bottom: 5vw;
            @include flexColumnCenter;
            .mainFaqImage{
                width: 100vw;
                @include padding;
            }
            .mainFaqText{
                @include padding;
                width: 100vw;
                @include flexColumnCenter;
                text-align: justify;
            }
        }
    }
}
@media only screen and (max-width:450px){
    .mainFaqsContent{
        h2{
            font-size: 3rem;
        }
    }
}