$primary-color:#b0b0af;
$red-color:#D68B76;
$green-color:#89B1AB;
$yellow-color:#F5D767;
@mixin flexColumnCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mainPage{
    background-color: $primary-color;
    @include flexColumnCenter;
    .mainMyStory{
        width: 100vw;
        position: relative;
        display: inline-block;
        .myStoryMobileImage{
            display: none;
        }
        .myStoryImage{
            width: 100%;
        }
        h2{
            width: 30vw;
            font-size: 6rem;
            color: $primary-color;
            position: absolute;
            top: 3vw;
            left: 3vw;
            span{
                color: $red-color;
            }
        }
        h3{
            width: 25vw;
            font-size: 3.6rem;
            color: $yellow-color;
            position: absolute;
            bottom: 3vw;
            left: 3vw;
        }
    }
    .mainMyStoryText{
        padding-right: 7.5vw;
        padding-left: 7.5vw;
        @include flexColumnCenter;
        margin-bottom: 5vw;
        text-align: justify;
        .welcome {
            text-align: center;
            font-size: 3rem;
            padding-top: 2vw;
            color: white;
        }
        .mainText{
            padding-top: 2vw;
            color: white;
            font-size: 2.4rem;
        }
    }
}
@media only screen and (max-width:1230px){
    .mainPage{
        .mainMyStory{
            h2{
                width: 30vw;
                font-size: 4rem;
            }
            h3{
                width: 30vw;
                font-size: 2.5rem;
            }
        }
        .mainMyStoryText{
            .welcome {
                font-size: 2.5rem;
            }
            .mainText{
                font-size: 2rem;
            }
        }
    }
}
@media only screen and (max-width:850px){
    .mainPage{
        .mainMyStory{
            h2{
                width: 50vw;
                font-size: 3rem;
            }
            h3{
                width: 40vw;
                font-size: 2rem;
            }
        }
        .mainMyStoryText{
            .welcome {
                font-size: 2rem;
            }
            .mainText{
                font-size: 1.6rem;
            }
        }
    }
}
@media only screen and (max-width:450px){
    .mainPage{
        .mainMyStory{
            .myStoryMobileImage{
                display: block;
                padding-left: 3vw;
                padding-right: 3vw;
                width:100vw;
                img{
                    width:100%;
                }
            }
            .myStoryImage{
                display: none;
            }
            h2{
                width: 50vw;
                font-size: 2.1rem;
                padding-left: 2vw;
            }
            h3{
                display: none;
            }
        }
    }
}